site_name: rdrg0x
theme:
  name: material
  palette:
    - scheme: slate
      primary: black
      accent: deep purple
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.sections
    - navigation.expand
    - navigation.path
    - toc.integrate
    - content.code.copy
    - search.highlight
plugins:
  - search

markdown_extensions:
  - admonition
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - toc:
      permalink: true
      
nav:
  - Inicio: index.md
  - Writeups:
      - HackTheBox: writeups/HackTheBox/index.md
      - TryHackme:
        - Alfred: writeups/TryHackMe/alfred/index.md